@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Identify With...</h2>
<p>
    Just click on one of the logos below to identify yourself using one of these providers
    below.
</p>
<div>
    <div style="padding: 8px; float: left;">
        <a href="">
            <img src="../../Content/images/auth/facebook.png" alt="Facebook" />
            <h2>
                Facebook</h2>
        </a>
        <div>
            <p>
                Giving people the power to share and make the world more open and connected. "Like"
                us to stay updated on new products, announcements and stories. Read our blog at
                <a href="http://blog.facebook.com">http://blog.facebook.com</a> or <a href="http://www.facebook.com/facebook">
                    Read More About...</a>
            </p>
        </div>
    </div>
    <div style="padding: 8px; float: left;">
        <a href="">
            <img src="../../Content/images/auth/openid.png" alt="OpenID" />
            <h2>
                OpenID</h2>
        </a>
        <div>
            <p>
                Can't remember your passwords? Tired of filling out registration forms? OpenID is
                a safe, faster, and easier way to log in to web sites. <a href="http://openid.net/">
                    Read More...</a>
            </p>
        </div>
    </div>
    <div style="padding: 8px; float: left;">
        <a href="">
            <img src="../../Content/images/auth/twitter.png" alt="Twitter" />
            <h2>
                Twitter</h2>
        </a>
        <div>
            <p>
                Twitter is the best way to discover what’s new in your world. It is a real-time
                information network that connects you to the latest information about what you find
                interesting. Simply find the public streams you find most compelling and follow
                the conversations. <a href="http://twitter.com/about">Read More...</a>
            </p>
        </div>
    </div>
</div>
