@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>



<script language="javascript" type="text/javascript">
    var locationz = "about";
</script>