@{
    ViewBag.Title = "Startup Regiztry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Startup Regiztry</h2>
<p>
    The stuffz.</p>

<script language="javascript" type="text/javascript">
    var locationz = "home";
</script>
